@media (max-width: 479px) {

    .main_slider-title {
        font-size: 26px;
        margin-bottom: 140px;
    }
    .about_items {
        margin-bottom: -16px;
    }
    .about_items > * {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 16px;
    }
    .service_items {
        margin-left: 0px;
        margin-bottom: -25px;
    }
    .service_items > * {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 25px;
    }
    .socials_links {
        flex-direction: column;
        align-items: center;
    }
    .socials_links a:nth-child(1) {
        margin-right: 0px;
        margin-bottom: 16px;
    }
    .socials_links a:nth-child(2) {
        margin-right: 0px;
        margin-bottom: 16px;
    }
    .contacts_bg {
        bottom: 0;
    }
    .contacts_email {
        margin-bottom: 30px;
    }
    .gallery-slider .slick-arrow.prev {
        left: 30px;
    }
    .gallery-slider .slick-arrow.next {
        right: 30px;
    }
    .licenses .slick-slide.slick-center {
        transform: scale(1);
    }
    .licenses .slick-track {
        margin: 50px 0 0px;
    }
    .tabs button + button {
        margin-right: 0px;
    }
    .tabs button {
        display: inline-block;
    }
    .gallery-grid-mob .gallery-row {
        width: 300px;
    }
    .gallery-slider .slick-arrow.prev {
        left: 10px;
    }
    .gallery-slider .slick-arrow.next {
        right: 10px;
    }
    .gallery-grid-mob .item-1 {
        height: 210px;
    }
    .gallery-grid-mob .item-2, 
    .gallery-grid-mob .item-5 {
        height: 100px;
    }
    .gallery-grid-mob .item-6, 
    .gallery-grid-mob .item-7 {
        height: 170px;
    }
    .gallery-grid-mob .item-3, 
    .gallery-grid-mob .item-4 {
        height: 120px;
    }


 

   
}
