@media print, (max-width: 1023px) {
 
    :root {
        --font_size: 20px;
        --font_size_title: 26px;
    }
    header .mob_menu_btn {
        display: flex;
    }
    .header_bottom .btn {
        display: none;
    }
    header .menu {
        position: fixed;
        z-index: 107;
        top: 0;
        left: 0;
        display: flex;
        overflow: auto;
        width: 100%;
        height: calc(100% - 110px);
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 94px 20px 30px;
        transition: transform .3s linear;
        transform: translateX(-100%);
        background: #fff;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;  
        background: #00AFE4;      
    }
    header .menu:after {
        position: absolute;
        content: "";
        width: 40px;
        height: 531px;
        top: 59px;
        right: 0;
        background: url(../images/menu_bg.svg);
    }
    header .menu.show {
        transform: translateX(0);
    }
    .menu_open header .mob_menu_btn{
        display: none;
    }
    .menu_open header .close_btn {
        display: flex;
        position: fixed;
        right: 20px;
    }
    header .menu .item {
        width: 100%;
    }
    header .menu .item + .item {
        margin-left: 0;
    }
    .mob_menu_btn.active span {
        background: transparent;
    }
    .mob_menu_btn.active span:before {
        top: 0;
        transform: rotate(45deg);
    }
    .mob_menu_btn.active span:after {
        top: 0;
        transform: rotate(-45deg);
    }

    header .menu .item > a {
        font-size: 17px;
        line-height: 130%;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 16px 0 16px 36px;   
        margin-right: 0;
    }
    header .menu .item a:hover:after, 
    header .menu .item a:focus:after {
        width: 0;
    }
    header .menu .item {
        margin-right: 0;
    }
    header .menu .item a {
        display: block;
        text-align: start;
    }   
    .header_callback-mob {
        display: flex;
        margin-top: 90px;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .header_top .header_callback button {
        display: none;
    }
    .header_top .header_callback {
        margin-left: auto;
    }
    .header_top .header_callback a {
        margin-right: 21px;
    }
    .menu_open .header_top .header_callback a {
        margin-right: 48px;
    }
    .header_callback-mob button {
        border: 3px solid #fff;
    }
    .header_callback-mob a {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 28px;
    }


    .header_info {
        margin-top: 120px;
    }
    .header_info-title {
        font-size: 45px;
        line-height: 130%;
    }
    header {
        padding: 14px 0 55px;
        margin-bottom: 40px;
    }
    .block {
        padding: 40px 0;
    }
    .title {
        font-size: 34px;
        margin-bottom: 25px;
    }
    .personal_items > * {
        width: calc(100%/2 - 20px);
    }
    .advantages_items > * {
        width: 100%;
        margin-left: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        padding: 40px 100px 40px 40px;
        background: #fff;
    }
    .steps_items > * {
        width: calc(100%/2 - 20px);
    }
    .request form {
        padding: 30px 20px;
    }
    form .line {
        margin-left: 0;
        flex-wrap: wrap;
    }
    form .line > * {
        width: 100%;
        margin-left: 0;
    }
    footer .cont {
        flex-direction: column;
    }
    footer a {
        margin-bottom: 12px;
    }
    footer a:last-child {
        margin-bottom: 0px;
    }
    .contacts::before {
        display: none;
    }
    .privilege::before {
        display: none;
    }
    .contacts_wrap {
        flex-direction: column;
    }
    .contacts {
        background: none;
    }
    .form_politic br {
        display: none;
    }
    header:after {
        display: none;
    }
    .contacts {
        margin-top: 30px;
    }
    .contacts_info {
        padding-left: 20px;
        margin-left: 0;
    }
    .map_wrap {
        margin-left: 0;
        height: 500px;
    }
    


    

    
}
