@media print, (max-width: 1400px) {

    .gallery-grid-desc {
        display: none;
    }
    .gallery-grid-mob {
        display: block;
    }

    .gallery-grid-mob img {
        min-width: auto;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .gallery-grid-mob .gallery-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        width: 660px;
        margin: 0 auto;
        margin-bottom: 10px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .gallery-grid-mob .item-1 {
        width: calc(100%/2 - 5px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden;
        height: 410px;
    }

    .gallery-grid-mob .mobile-col {
        width: calc(100%/2 - 5px);
    }

    .gallery-grid-mob .item-2, 
    .gallery-grid-mob .item-5 {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden;
        height: 200px;
    }

    .gallery-grid-mob .item-2 {
        margin-bottom: 10px;
    }

    .gallery-grid-mob .item-2 img {
        width: 100%;
    }

    .gallery-grid-mob .item-3, 
    .gallery-grid-mob .item-4 {
        height: 150px;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
    }

    .gallery-grid-mob .item-3 img, 
    .gallery-grid-mob .item-4 img {
        width: 100%;
        height: auto;
    }

    .gallery-grid-mob .item-6 {
        margin-bottom: 10px;
    }

    .gallery-grid-mob .item-6, 
    .gallery-grid-mob .item-7 {
        height: 250px;
        overflow: hidden;
        display: block;
    }

    .gallery-grid-mob .item-6 img, 
    .gallery-grid-mob .item-7 img {
        width: 100%;
        height: 100%;
    }

    .gallery-slider .slick-arrow.prev {
        left: 0;
    }
    .gallery-slider .slick-arrow.next {
        right: 0;
    }




}