@media (max-width: 479px) {

    .header_callback-mob button {
        width: 100%;
    }
    .header_callback a {
        font-size: 17px;
    }
    .header_info-title {
        font-size: 30px;
    }
    .advantages_items > * {
        flex-direction: column;
        align-items: flex-start;
    }
    .advantages_item-title {
        margin-left: 0;
        margin-top: 10px;
        font-size: 24px;
    }
    .advantages_item-title br {
        display: none;
    }
    .modal_thanks a {
        width: 100%;
        text-align: center;
    }
    .header_info-link {
        width: 100%;
    }
    .privilege .btn {
        width: 100%;
    }
    .contacts_item button {
        width: 100%;
    }
    .callback .btn {
        width: 100%;
    }


   
}
