@media print, (max-width: 1187px) {


 

    .contacts_info {
        margin-left: 20px;
        width: 100%;
        clip-path: none;
    }
    .contacts::before {
        left: -270px;
    }
    .block {
        padding: 50px 0;
    }








}
