/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}




/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}



@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('../fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
        url('../fonts/Gilroy-Extrabold.woff') format('woff'),
        url('../fonts/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff'),
        url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}



/*-------------------
    Global styles
-------------------*/
:root {
    --text_color: #271850;
    --font_size: 18px;
    --font_size_title: 33px;
    --font_family: 'Inter', sans-serif;
    --font_family2: 'Gilroy', sans-serif;
    ;
}

::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}



/*------------
    Header
------------*/

header {
    padding: 14px 0 146px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 24%), linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.51) 43.26%, rgba(0, 0, 0, 0) 58.72%), url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 100;
    margin-bottom: 60px;
}
header:after {
    position: absolute;
    content: "";
    background: url(../images/header_bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 280px;
    height: 870px;
    z-index: -1;
}
header .mob_menu_btn {
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    text-transform: uppercase;
}

header .mob_menu_btn img {
    display: block;
    width: 27px;
    height: 18px;
}

header .close_btn {
    order: 1;
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 28px;
    height: 28px;
    z-index: 120;
    transition: all .4s;
}
header .close_btn .icon {
    display: block;
    width: 27px;
    height: 27px;
    fill: #c1c1c1;
}
header .close_btn:hover .icon {
    display: block;
    width: 27px;
    height: 27px;
    fill: #0A7391;
}

.header_bottom .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 130px;
}

header .menu .item>a {
    font-family: var(--font_family2);
    font-weight: 800;
    font-size: 17px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    display: flex;    
    transition: color .2s linear;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    transition: all .4s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

header .menu .item a:after {
    background-color: #fff;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out; 
}
header .menu .item a:hover:after,
header .menu .item a:focus:after {
    width: 100%;
}
header .menu .item:last-child a {
    margin-right: 0;
}
.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
.header_logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header_logo span {
    display: block;
    padding-left: 20px;
    border-left: 3px solid #00AFE4;
    margin-left: 14px;
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    color: #FFFFFF;
}
.header_callback {
    display: flex;
    align-items: center;
}
.header_callback a {
    text-decoration: none;
    font-family: var(--font_family2);
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-right: 17px;
    display: block;
    white-space: nowrap;
    margin-left: 10px;
}
.header_callback button {
    width: 206px;
    height: 52px;
    border: 3px solid #00AFE4; 
    font-family: var(--font_family2);
    font-weight: 800;
    font-size: 17px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all .4s;
}
.header_callback button:hover {
    background: #00AFE4;
}
.header_info-title {
    font-family: var(--font_family2);
    font-weight: 800;
    font-size: 58px;
    line-height: 110%;
    text-transform: uppercase;
    color: #FFFFFF;  
    max-width: 909px;
    margin-bottom: 40px;
}
.benefits {
    margin-bottom: 45px;
}
.benefits_items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: -20px;
    margin-bottom: -20px;
    width: 629px;
}
.benefits_items > * {
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.benefits_item-icon {
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}
.benefits_item-icon img{
    display: block;
}
.benefits_item-title {
    font-family: var(--font_family);
    font-weight: 600;
    font-size: 17px;
    line-height: 130%;
    color: #FFFFFF;  
    margin-top: 10px; 
    white-space: nowrap;
}
.btn {
    background: #00AFE4;
    padding: 15px 25px;
    font-family: var(--font_family2);
    font-weight: 800;
    font-size: 17px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    z-index: 3;
    position: relative;
    transition: all .4s;
}
.btn:hover {
    background: #0891C6;
}
.header_callback-mob {
    display: none;
}




.personal {
    background: url(../images/personal_bg.png);
}
.block {
    padding: 60px 0;
}
.title {
    font-family: var(--font_family2);
    font-weight: 800;
    font-size: 50px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--text_color);
    margin-bottom: 40px;
}
.title span {
    color: #00AFE4;
}
.personal_title {
    margin-bottom: 0;
    margin-top: 40px;
}
.personal_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -20px;
}
.personal_items > * {
    width: calc(100%/3 - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}
.personal_item-img {
    height: 195px;
}
.personal_item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.personal_item-title {
    font-family: var(--font_family);
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--text_color);
    margin-bottom: 12px;
}
.personal_item-text {
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    color: var(--text_color);
    margin-bottom: 12px;
}
.personal_item-price {
    font-family: var(--font_family);
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
     color: #00AFE4;
     margin-bottom: 20px;
}
.personal_item-btn {
    display: none;
}
.personal_item:hover .personal_item-btn {
    display: block;
}
.personal_item:hover .personal_item-img {
    height: 148px;
}
.personal_item-info {
    padding: 20px 70px 20px 20px;
    background: #F8F8F8;
    position: relative;
}
.personal_item-info:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 100%;
    right: 0;
    top: 0;
    background: url(../images/line.svg);
    background-repeat: no-repeat;
    background-size: cover;
}



.callback {
    margin: 60px 0;
    padding: 185px 0 195px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 45.52%, rgba(0, 0, 0, 0) 60.96%), url(../images/callback_bg.jpg);
    position: relative;
}
.callback::before {
    position: absolute;
    width: 277px;
    height: 100%;
    content: "";
    background: url(../images/callback_bg2.png);
    top: 0;
    left: 0;
}
.title-white {
    font-family: var(--font_family2);
    font-weight: 800;
    font-size: 58px;
    line-height: 110%;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 673px;   
}




.privilege {
    margin-bottom: 50px;
    padding: 110px 0 128px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.51) 43.26%, rgba(0, 0, 0, 0) 58.72%), url(../images/privilege_bg.jpg);
    position: relative;
}
.privilege::before {
    position: absolute;
    width: 277px;
    height: 100%;
    content: "";
    background: url(../images/privilege_bg2.png);
    top: 0;
    left: 0;
}
.privilege_title {
    max-width: 500px;
}
.privilege_list {
    list-style: none;
    margin-bottom: 50px;
}
.privilege_list li {
    position: relative;
    padding-left: 39px;
    font-family: var(--font_family);
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #FFFFFF;   
    margin-bottom: 20px; 
}
.privilege_list li:before {
    position: absolute;
    width: 27px;
    height: 24px;
    content: "";
    top: 0;
    left: 0;
    background: url(../images/check.svg);
}
.privilege_list li:last-child {
    margin-bottom: 0;
}






.advantages {
    background: url(../images/advantages_bg.png);
}
.advantages_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -20px;
}
.advantages_items > * {
    width: calc(100%/2 - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 40px 100px 40px 40px;
    background: #fff;
}
.advantages_item {
    position: relative;
}
.advantages_item::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 100%;
    right: 0;
    top: 0;
    background: url(../images/line.svg);
    background-repeat: no-repeat;
    background-size: cover;   
}
.advantages_item-icon {
    width: 80px;
    height: 80px;
    background: var(--text_color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;  
    flex-shrink: 0;  
}
.advantages_item-title {
    font-family: var(--font_family);
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: var(--text_color);
    margin-left: 30px;
}



.partners {
    margin-top: 60px;
}
.partners .slider {
    background: #00AFE4;
    padding: 50px 0;
    position: relative;    
}
.partners .slider:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 120px;
    background: url(../images/line3.svg);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.partners_item {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 10px 20px;
}
.partners_item img {
    width: auto;
    height: auto;
}



.steps {
    background: url(../images/steps_bg.png);
}
.steps_items {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: -20px;
    margin-bottom: -28px;
    counter-reset: step;
}
.steps_items > * {
    width: calc(100%/3 - 20px);
    margin-left: 20px;
    margin-bottom: 28px;
    text-decoration: none;
}
.steps_item-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 69.73%;
}
.steps_item-img img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.steps_item-info {
    padding: 35px 30px 25px;
    background: #fff;   
    position: relative;   
}
.steps_item {    
    position: relative;  
}
.steps_item-title {
    font-family: var(--font_family);
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--text_color);
    margin-bottom: 12px;
}
.steps_item-text {
    font-family: var(--font_family);
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: var(--text_color);
}
.steps_item-btn {
    text-align: center;
    display: none;
}
.steps_item:hover .steps_item-bottom {
    display: none;
}
.steps_item:hover .steps_item-btn  {
    display: block;
}
.steps_item-number {
    position: absolute;
    top: -53px;
    font-family: var(--font_family2);
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    line-height: 70px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--text_color);
    z-index: 3;
}
.steps_item-bottom img {
    width: 100%;
    display: block;
}
.steps_item:hover .steps_item-number {
    background: #00AFE4;
}



.request {
    padding-bottom: 70px;
}
.request form {
    padding: 65px 100px 75px;
    background: #00AFE4;
    position: relative;
}
.request form:before {
    position: absolute;
    content: "";
    width: 630px;
    height: 277px;
    right: -50px;
    bottom: -50px;
    background: url(../images/request_bg.png);
    z-index: -1;
}
.form_title {    
    font-family: var(--font_family);
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    max-width: 550px;
    margin-bottom: 28px;
}
form .line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -20px;
    margin-bottom: -30px;
}
form .line >  * {
    width: calc(100%/3 - 20px);
    margin-left: 20px;
    margin-bottom: 30px;
}
form .line .field {
    display: flex;
    flex-direction: column;
}
form .line .field label {
    margin-bottom: 10px;
    font-family: var(--font_family);
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #FFFFFF; 
}
form .line .field input {
    width: 100%;
    height: 70px;
    background: rgba(39, 24, 80, .1);
    border: 2px solid rgba(39, 24, 80, .1);
    font-family: var(--font_family);
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #fff;
    padding: 0 30px;
    transition: all .4s;
}
form .line .field input:hover,
form .line .field input:focus {
    border: 2px solid #fff;
}
input::-webkit-input-placeholder {
    font-family: var(--font_family);
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #81CFEA; 
}
input::-moz-placeholder {
    font-family: var(--font_family);
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #81CFEA;  
}
input:-moz-placeholder {
    font-family: var(--font_family);
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #81CFEA;
}
input:-ms-input-placeholder {
    font-family: var(--font_family);
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #81CFEA; 
}
.nice-select {
    -webkit-tap-highlight-color: transparent;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: var(--font_family);
    font-weight: 500;
    font-size: 17px;
    line-height: 70px;
    color: #81CFEA; 
    width: 100%;
    height: 70px;
    background: rgba(39, 24, 80, .1);
    border: 2px solid rgba(39, 24, 80, .1);
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100%;
}
.nice-select:active, 
.nice-select.open, 
.nice-select:focus,
.nice-select:hover {
    border: 2px solid #fff;
}
.nice-select:after {
    content: '';
    display: block;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 30px;
    top: 50%;
    width: 14px;
    height: 9px;
    background: url(../images/arrow.svg);
    background-repeat: no-repeat;
    border: none;
}
.nice-select .list {
    width: 100%;
    background: #04A0D5;
    border: 2px solid #04A0D5;   
    z-index: 5; 
    border-radius: 0;
}
.nice-select .option {
    color: #81CFEA; 
}
.form_bottom {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.form_politic {
    font-family: var(--font_family);
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #7FD7F1;
    margin-left: 20px;
    width: calc(100% - 224px);
}
.form_politic a {
    font-family: var(--font_family);
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #7FD7F1;
    transition: all .4s;
}
.form_politic:hover a {
    color: #fff;
}
.form_bottom button {
    padding: 15px 25px;
    background: var(--text_color);
    font-family: var(--font_family2);
    font-weight: 800;
    font-size: 17px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;  
    transition: all .4s;  
}
.form_bottom button:hover {
    background: #1F366E;
}





.contacts {
    margin-top: 60px;
    z-index: 2;    
    position: relative;
    background: var(--text_color);
}
.contacts::before {
    position: absolute;
    content: "";
    width: 277px;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/contacts_bg2.png);
}
.contacts_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacts_info {
    margin-left: calc(50% - 590px);
    clip-path: polygon(100% 0, 85% 100%, 0 100%, 0 0);
    background: var(--text_color);
    z-index: 2;
    position: relative;
    width: calc(50% - 310px);
    padding: 70px 0 74px;
}
.contacts .header_logo img {
    width: 218px;
    height: 90px;
}
.contacts .header_logo {
    margin-bottom: 15px;
}
.header_logo span {
    opacity: 0.5;
}
.contacts_item-phone {
    font-family: var(--font_family2);
    text-decoration: none;
    font-weight: 800;
    font-size: 58px;
    line-height: 110%;
    text-transform: uppercase;
    color: #FFFFFF;  
    margin-bottom: 15px; 
    display: block;
    white-space: nowrap;
}
.contacts_item button {
    width: 206px;
    border: 3px solid #00AFE4;  
    font-family: var(--font_family2);
    font-weight: 800;
    font-size: 17px;
    line-height: 52px;
    text-transform: uppercase;
    color: #FFFFFF; 
    transition: all .4s; 
}
.contacts_item button:hover {
    background: #00AFE4;
}
.contacts_item {
    margin-bottom: 25px;
}
.contacts_item:last-child {
    margin-bottom: 0px;
}
.contacts_item span {
    font-family: var(--font_family);
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;   
}
.contacts_item-label {
    font-family: var(--font_family);
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #FFFFFF;
    opacity: 0.5;  
    margin-bottom: 10px;
}
.contacts_item-soc {
    display: flex;
    align-items: center;
}
.contacts_item-soc a {
    text-align: center;
    margin-right: 10px;
    background: #00AFE4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}
.contacts_item-soc a:hover {
    background: #0891C6;
}
.map_wrap {
    position: relative;
    width: 100%;
    max-width: 1050px;
    height: 720px;
    transform: translateZ(0);
    margin-left: -200px;
    z-index: 1;
}
#map {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}



footer {
    padding: 24px 0;
    background: #F8F8F8;
}
footer .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer a {
    display: block;
    text-decoration: none;
    font-family: var(--font_family);
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: var(--text_color);
    transition: all .4s;
}
footer a:hover {
    color: #00AFE4;
}
.footer_personal {
    margin-left: 10px;
    margin-right: 10px;
}


.fancybox__content>.carousel__button.is-close {
    top: -45px;
    right: -8px;
}
.modal {
    display: none;
    max-width: 1180px;
    width: 100%;
    background: #00AFE4;
    padding: 65px 100px 75px;
}
.modal_title {
    font-family: var(--font_family);
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 28px;
}
.modal form .line > * {
    width: calc(100%/2 - 20px);
}



.modal.modal_thanks {
    padding: 90px 100px 95px;
    max-width: 900px;
}
.modal_thanks-title {
    font-family: var(--font_family2);
    font-weight: 800;
    font-size: 58px;
    line-height: 110%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.modal_thanks-text {
    font-family: var(--font_family);
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.modal_thanks a {
    background: var(--text_color);
    padding: 15px 25px;
    font-family: var(--font_family2);
    font-weight: 800;
    font-size: 17px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    width: 247px;
    height: 52px;
    transition: all .4s;
}
.modal_thanks a:hover {
    background: #1F366E;
}

.fancybox__content>.carousel__button.is-close {
    background: url(../images/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    transition: all .4s;
    width: 120px;
    height: 35px;
}
